<html>
<body>
<script>
var xhr = new XMLHttpRequest();
xhr.open("POST", "http://xxxx/afkjlsfk", false);
xhr.onreadystatechange = function(){
	if(this.readyState === "complete" || this.readyState === "loaded"){
		console.log(this.reponseText);
	}
};
// xhr.send("a=123&b=768&fjalsk=124124");
function _Callback(data){
	console.log(JSON.stringify(data, null, " "));
}
</script>
<script type="text/javascript" src="http://g.cnc.qzone.qq.com/cgi-bin/friendshow/cgi_get_visitor_simple?uin=445094898&mask=2&mod=2&fupdate=1&g_tk=1931873131"></script>
</body>
</html>